.App {
  text-align: center;
}

.home {
  color: red;
}
.navbar {
}
.nav {
  display: flex;
  list-style: none;
  margin: 1vw 0vw;
  font-size: 2vw;
}
.nav-item {
  padding: 1vw;
}
.mid-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 1vw 0vw;
  font-size: 2vw;
}
.mid-item {
  padding: 1vw 4vw;
  cursor: pointer;
}
.dropdown1 {
  position: absolute;
  top: 15vw;
  left: 3vw;
  height: 8vw;
  width: 10vw;
  border-radius: 5px;
}
.form {
  height: 17vh;
  width: 30vw;
  margin: 0.05vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.in {
  margin: 0.5vw;
  height: 40px;
  width: 320px;
}
.dropdown {
  position: absolute;
  top: 15vw;
  right: 1.5vw;
  height: 8vw;
  width: 10vw;
  border-radius: 5px;
}
#home {
  cursor: pointer;
}
#new {
  cursor: pointer;
}
.option1 {
  display: block;
  position: relative;
  top: 2vw;
  left: 2vw;
  margin-top: 0.2vw;
}
.option {
  display: block;
  position: relative;
  top: 2vw;
  left: 2vw;
  margin-top: 0.2vw;
}
.input {
  width: 60vw;
  height: 3vw;
  border-radius: 5px;
}
.box {
  width: 70vw;
  height: 50vw;
  background-color: rgb(161, 154, 154);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}
.lower {
  margin: 3vw;
  align-items: center;
  display: inline-block;
}
.one {
  font-size: 3vw;
}

.hr {
  font-weight: 400;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 2%;
}
.line {
  background-color: gray;
  width: 3vw;
  height: 1vw;
}

@media only screen and (max-width: 900px) {
  .nav {
    flex-direction: column;
    margin-top: 15vw;
  }
  .burger {
    display: block;
  }
  .navbar {
    height: 5vw;
  }
  .nav {
    margin-top: 1vw;
    opacity: 0;
  }
  .burger {
    opacity: 1;
  }
}
